<body>
    <div class="vue-app">
        {% include '../parts/header.twig' %}

        <div>
            {% block body %}
                empty body
            {% endblock %}
        </div>

        {% include '../parts/footer.twig' %}
    </div>
</body>
