{% extends '../templates/base.twig' %}

{% block body %}
    <div class="container">
        <div class="card" style="margin-top: 30px; width: 100%;">
            <div class="card-body">
                <h4>2018-12-09 - Alpha 2.0</h4>
                <ul>
                    <li>
                    Added a filter search bar in expeditions' single vue
                    </li>
                    <li>
                    Added a new page "find expeditions around me"
                    </li>
                    <li>
                    Fixed list of expeditions displayed incorrectly
                    </li>
                    <li>
                    Added changelog page
                    </li>
                    <li>
                        Max sphere size when creating expeditions has been reduced from 200 ly to 50 ly to prevent server crash.
                    </li>
                    <li>
                        Main menu has been reworked to show things users can do even if they are not logged in.
                    </li>
                    <li>
                        Collapse elements on expeditions' single page can now be toggled properly.
                    </li>
                </ul>
                <h4>2018-10-09 - Alpha 1.0</h4>
                <ul>
                    <li>
                        First release
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
