{% extends '../templates/base.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <expeditions-create>
        </expeditions-create>
    </div>

    <div class="row">
    </div>
</div>
{% endblock %}
