
{% extends '../templates/base.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <expeditions-around-me>
        </expeditions-around-me>
    </div>
</div>
{% endblock %}
