{% extends '../templates/base.twig' %}
{% block body %}
    <div class="container">
        <div class="card" style="witdh: 100%; margin-top: 30px;">
            <div class="card-header">
                Terms of Service
            </div>
            <div class="card-body">
                This is an alpha release...
            </div>
        </div>
    </div>
{% endblock %}
