{% extends '../templates/base.twig' %}
{% block body %}
    <div class="container">
        <div class="card" style="witdh: 100%; margin-top: 30px;">
            <div class="card-header">
                Upload your logs
            </div>
            <div class="card-body">
                Work in progress.
            </div>
        </div>
    </div>
{% endblock %}
